<!DOCTYPE html>
<html>
  <head>
    <title>Myrubyblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header-wrapper">
        <div id="header">
          <div id="logo">
            <h1>
              <a href="#">My Ruby Blog</a>
            </h1>
          </div>
          <div id="menu">
            <ul class="main-nav">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Blog", posts_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "Resources", resources_path %></li>
            </ul>
          </div>
        </div>
      </div>

    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <!-- start #content -->
          <div id="content">
            <div class="flash-message">
              <% flash.each do |key,value| %>
                <p><%= value %></p>
              <% end %>
            </div>
            <%= yield %>
            <!--main view-->
            <div style="clear: both;">&nbsp;</div>
          </div>
          <!-- end #content -->
          <!-- start #sidebar -->
          <div id="sidebar">
            <ul>
              <li>
                <div id="search">
                  <form method="get" action="#">
                    <div>
                      <input type="text" name="s" id="search-text" value=""/>
                      <input type="submit" id="search-submit" value="GO"/>
                    </div>
                  </form>
                </div>
                <div style="clear: both;">&nbsp;</div>
              </li>
              <li>
                <h2>Get The Framework</h2>
                <p>You can download Ruby on Rails for free right now
                  <br/>
                  <a style="color:#D93544;" href="http://rubyonrails.org/download" target="blank">Download</a>
                </p>
              </li>
              <li>
                <h2>Categories</h2>
                <ul>
                  <li><%= link_to "Category 1" %></li>
                  <li><%= link_to "Category 2" %></li>
                  <li><%= link_to "Category 3" %></li>
                  <li><%= link_to "Category 4" %></li>
                  <li><%= link_to "Category 5" %></li>
                  <li><%= link_to "Category 6" %></li>
                </ul>
              </li>
              <li>
                <h2>Blog Posts</h2>
                <ul>
                  <li><%= link_to "Post 1" %></li>
                  <li><%= link_to "Post 2" %></li>
                  <li><%= link_to "Post 3" %></li>
                  <li><%= link_to "Post 4" %></li>
                  <li><%= link_to "Post 5" %></li>
                  <li><%= link_to "Post 6" %></li>
                  <li><%= link_to "Post 7" %></li>
                  <li><%= link_to "Post 8" %></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- end #sidebar -->
          <div style="clear: both;">&nbsp;</div>
        </div>
      </div>
    </div>

    <div id="footer">
      <p>&copy; 2018 - My Ruby Blog - Sample Project</p>
    </div>
  </div>

  </body>
</html>
