<!DOCTYPE html>
<html>
  <head>
    <title>Myrubyblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render "partials/header" %>

      <div id="page">
        <div id="page-bgtop">
          <div id="page-bgbtm">
            <!-- start #content -->
            <div id="content">
              <div class="flash-message">
                <% flash.each do |key,value| %>
                  <p><%= value %></p>
                <% end %>
              </div>
              <%= yield %>
              <!--main view-->
              <div style="clear: both;">&nbsp;</div>
            </div>
            <!-- end #content -->
            <%= render "partials/sidebar" %>
            <div style="clear: both;">&nbsp;</div>
          </div>
        </div>
      </div>

      <div id="footer">
        <p>&copy; 2018 - My Ruby Blog - Sample Project</p>
      </div>
    </div>

  </body>
</html>
